* {
    box-sizing: border-box;
}

.dialogbox{width:100px; height:100px; background:grey;display:none}

/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 50%;
}

.popup-overlay{
    /*Hides pop-up when there is no "active" class*/
    visibility:hidden;
    position:absolute;
    background:#ffffff;
    border:3px solid #666666;
    width:50%;
    height:50%;
    left:25%;
}
.popup-overlay.active{
    /*displays pop-up when "active" class is present*/
    visibility:visible;
    text-align:center;
}

.popup-content {
    /*Hides pop-up content when there is no "active" class */
    visibility:hidden;
}

.popup-content.active {
    /*Shows pop-up content when "active" class is present */
    visibility:visible;
}

button{
    display:inline-block;
    vertical-align:middle;
    border-radius:30px;
    margin:.20rem;
    font-size: 1rem;
    color:#666666;
    background:   #ffffff;
    border:1px solid #666666;
}

button:hover{
    border:1px solid #666666;
    background:#666666;
    color:#ffffff;
}

/* Make the image responsive */
.container img {
    width: 100%;
    height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container .btn:hover {
    background-color: black;
}

.container .btn:hover {
    background-color: black;
}


ul li
{
    margin-bottom: 50px;
}

.container {
    position: relative;
    width: 124px;
    height: 124px;
}

.image {
    display: inline-block;
    width: 100%;
    height: 100%;
    float: left;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


#rig {
    max-width:900px;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#000;
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:5px; /*default=0*/
}

/* The wrapper for each item */
.rig-cell {
    margin:0px;
    /*box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}

/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #262626 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 10px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:left;
    text-transform:capitalize;
    font-size:15px;
    font-weight:bold;
    font-family: 'Avenir', sans-serif;
    font-weight:normal!important;
    top:70%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}

#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width: 50%;
    }
}